<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book.net</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
<header>

  <a routerLink="/" routerLinkActive="active"><img id="title" src="http://172.16.8.1:3080/imatges/LogoWeb2.png"></a>

</header>
<nav id="menu">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/cataleg" routerLinkActive="active">Catàleg</a>
  <a routerLink="/cistella" routerLinkActive="active">Cistella</a>
  <a routerLink="/condicions" routerLinkActive="active">Condicions</a>
  <a routerLink="/contacte" routerLinkActive="active">Contacte</a>

</nav>
<div class="respmenu">
  <input type="checkbox">
  <i class="fas fa-bars"></i>
  <i class="fas fa-times"></i>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/cataleg" routerLinkActive="active">Catàleg</a></li>
      <li><a routerLink="/cistella" routerLinkActive="active">Cistella</a></li>
      <li><a routerLink="/condicions" routerLinkActive="active">Condicions</a></li>
      <li><a routerLink="/contacte" routerLinkActive="active">Contacte</a></li>
    </ul>
  </nav>
</div>
<br>
<br>
<article>

</article>
<br>

<footer>

</footer>
</body>
</html>
